<script setup>
import { reactive, ref } from "vue";

const state = reactive({ count: 0 });
const interval = ref(1);

function increment() {
  state.count = state.count + interval.value;
}
function decrement() {
  state.count = state.count - interval.value;
}
</script>

<template>
  <h3>Count: {{ state.count }}</h3>
  <div>
    <label for="interval">Interval:</label>
    <input
      type="number"
      v-model="interval"
      placeholder="Interval"
      id="interval"
    />
  </div>
  <div>
    <button @click="increment">Increment</button>
    <button @click="decrement">Decrement</button>
  </div>
</template>
